.small-container{
    margin: 0 auto;
    max-width: 1000px;
}

// # TEXT
.text-white{
    color: $white;
}
.text-black{
    color: $black;
}
.text-tundora{
    color: $tundora;
}
.text-silver{
    color: $silver;
}
.text-almond-frost{
    color: $almond-frost;
}
.text-oregon{
    color: $oregon;
}
.text-eastern-blue{
    color: $eastern-blue;
}
.text-christine{
    color: $christine;
}
.text-equator{
    color: $equator;
}
.text-christi{
    color: $christi;
}

// # BACKGROUNDS
.bg-white{
    background-color: $white;
}
.bg-black{
    background-color: $black;
}
.bg-tundora{
    background-color: $tundora;
}
.bg-silver{
    background-color: $silver;
}
.bg-almond-frost{
    background-color: $almond-frost;
}
.bg-oregon{
    background-color: $oregon;
}
.bg-eastern-blue{
    background-color: $eastern-blue;
}
.bg-christine{
    background-color: $christine;
}
.bg-equator{
    background-color: $equator;
}
.bg-christi{
    background-color: $christi;
}