.small-container{
    margin: 0 auto;
    max-width: 1000px;
}
.big-container{
    margin: 0 auto;
    max-width: 1400px;
}

// # TEXT
.text-white{
    color: $white;
}
.text-black{
    color: $black;
}
.text-tundora{
    color: $tundora;
}
.text-silver{
    color: $silver;
}
.text-almond-frost{
    color: $almond-frost;
}
.text-oregon{
    color: $oregon;
}
.text-eastern-blue{
    color: $eastern-blue;
}
.text-christine{
    color: $christine;
}
.text-equator{
    color: $equator;
}
.text-christi{
    color: $christi;
}
.text-slate-gray{
    color: $slate-gray;
}
.text-clear-blue{
    color: $clear-blue;
}

// # BACKGROUNDS
.bg-white{
    background-color: $white;
}
.bg-black{
    background-color: $black;
}
.bg-tundora{
    background-color: $tundora;
}
.bg-silver{
    background-color: $silver;
}
.bg-almond-frost{
    background-color: $almond-frost;
}
.bg-oregon{
    background-color: $oregon;
}
.bg-eastern-blue{
    background-color: $eastern-blue;
}
.bg-christine{
    background-color: $christine;
}
.bg-equator{
    background-color: $equator;
}
.bg-christi{
    background-color: $christi;
}

// # BORDERS
.border-white{
    border: 1px solid white;
}

// Elements
.subtitle{
    color: $silver;
    font-size: 14px;
    text-transform: capitalize;
}

.section-title{
    font-size: 90px;
    font-family: $bebas-font;
    line-height: 100px;
}

.square-white{
    background-color: $white;
    padding: 5px;
    width: 65px;
    height: 65px;
}