.small-container{
    margin: 0 auto;
    max-width: 1000px;
}
.big-container{
    margin: 0 auto;
    max-width: 1400px;
}

// # TEXT
.text-white{
    color: $white;
}
.text-black{
    color: $black;
}
.text-tundora{
    color: $tundora;
}
.text-silver{
    color: $silver;
}
.text-almond-frost{
    color: $almond-frost;
}
.text-oregon{
    color: $oregon;
}
.text-eastern-blue{
    color: $eastern-blue;
}
.text-christine{
    color: $christine;
}
.text-equator{
    color: $equator;
}
.text-christi{
    color: $christi;
}
.text-slate-gray{
    color: $slate-gray;
}
.text-clear-blue{
    color: $clear-blue;
}

// # BACKGROUNDS
.bg-white{
    background-color: $white;
}
.bg-black{
    background-color: $black;
}
.bg-tundora{
    background-color: $tundora;
}
.bg-silver{
    background-color: $silver;
}
.bg-almond-frost{
    background-color: $almond-frost;
}
.bg-oregon{
    background-color: $oregon;
}
.bg-eastern-blue{
    background-color: $eastern-blue;
}
.bg-christine{
    background-color: $christine;
}
.bg-equator{
    background-color: $equator;
}
.bg-christi{
    background-color: $christi;
}

// # BORDERS
.border-white{
    border: .5px solid white;
}
.border-black{
    border: .5px solid rgba(rgb(92, 92, 92), 0.3);
}

// Elements
.subtitle{
    color: $silver;
    font-size: 14px;
    text-transform: capitalize;
}

.section-title{
    font-size: 70px;
    font-family: $bebas-font;
    line-height: 80px;
}

.header-title{
    font-size: 90px;
    font-family: $bebas-font;
    line-height: 100px;
}

.paragraph-text{
    font-family: $roboto-font;
    font-size: 16px;
}

.cursive-text{
    font-family: $cursive-font;
}

.square-white{
    background-color: $white;
    padding: 10px;
    width: 60px;
    height: 60px;
}

.text-small{
    font-size: 12px;
}
.text-medium{
    font-size: 16px;
}
.text-big{
    font-size: 18px;
}
.text-center{
    text-align: center;
}

button {
    padding: 10px 35px;
    background-color: transparent;
    font-weight: 600;
  }