// Colors
$white: #fff;
$black: #030303;
$tundora: #434243;
$silver: #bcbcbc;
$almond-frost: #937a6b;
$oregon: #944402;
$eastern-blue: #2787b2;
$christine: #f3790c;
$equator: #e3bd5e;
$christi: #69a10e;
$slate-gray: #6f7f8c;
$clear-blue: #33475B;

//Fonts

$bebas-font: 'Bebas Neue', cursive;
$roboto-font: 'Roboto Serif', sans-serif;
$cursive-font: cursive;